<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio RentCars</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        
        <div class="content-box">
            <h1>Desafio Rentcars</h1>
            <p>Candidato Fernando Alonso Piroga da Silva</p>
            <p>CRUD de gestão de veículos em uma locadora de carros.</p>
            <div class="btn-container">
              <a href="/veiculos/create" class="btn-primary">Cadastrar um veiculo</a>
              <a href="/veiculos" class="btn-primary">Lista de veiculos</a>
          </div>
        </div>
        
        <footer>
            RentCars &#169; 2023
            <div class="name">Fernando Alonso</div>
        </footer>
    </div>
</body>
</html>
