body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(45deg, #ffcc00, #000, #808080);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #000;
  justify-content: center;
  align-items: center;
}

.action-buttons button {
  margin: 2px;
}

#details-dialog {
  background-color: black;
  color: #ffff;
  padding: 20px;
  border: 2px solid #ffcc00;
  border-radius: 5px;
  text-align: left;
  max-width: 400px;
  margin: auto;
  position: relative;
}

#details-dialog strong {
  margin-right: 10px;
  font-weight: bold;
}

#details-dialog span {
  display: inline-block;
  width: 150px;
  margin-bottom: 10px;
}

#details-dialog button {
  background-color: black;
  color: #ffff;
  border: 1px solid #ffff;
  padding: 10px 20px;
  cursor: pointer;
  margin: auto;
  display: block;
  margin-top: 20px;
}

#details-dialog button:hover {
  background-color: #ffcc00;
  color: black;
}

#delete-dialog {
  background-color: black;
  color: #ffff;
  padding: 20px;
  border: 2px solid #ffcc00;
  border-radius: 5px;
  text-align: left;
  max-width: 400px;
  margin: auto;
  position: relative;
}

#delete-dialog button {
  background-color: black;
  color: #ffff;
  border: 1px solid #ffff;
  padding: 10px 20px;
  cursor: pointer;
  margin: auto;
  display: block;
  margin-top: 20px;
}

#delete-dialog button:hover {
  background-color: #ffcc00;
  color: black;
}


#success-dialog {
  background-color: black;
  color: #ffff;
  padding: 20px;
  border: 2px solid #ffcc00;
  border-radius: 5px;
  text-align: center;
  max-width: 400px;
  margin: auto;
  position: relative;
}

#success-dialog button {
  background-color: black;
  color: #ffff;
  border: 1px solid #ffff;
  padding: 10px 20px;
  cursor: pointer;
  margin: auto;
  display: block;
  margin-top: 20px;
}

#success-dialog button:hover {
  background-color: #ffcc00;
  color: black;
}

.container {
  max-width: 800px; 
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.content-box {
  background-color: #000; 
  color: #ffff; 
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  border: 2px solid #ffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="submit"], button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

input[type="submit"]:hover, button:hover {
  background-color: #ffcc00;
  color: #000;
}

footer {
  background-color: #000;
  color: #ffff;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0; 
  right: 0; 
}

.btn-container {
  text-align: center;
}

.btn-primary {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #ffff; 
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  margin-right: 10px;
}

.btn-primary:hover {
  background-color: #ffcc00;
  color: #000;
}

.content-box a {
  color: #ffff; 
}

.content-box a:hover {
  color: #000; 
}
